<!--&lt;!&ndash;The content below is only a placeholder and can be replaced.&ndash;&gt;-->
<!--&lt;!&ndash;<div style="text-align:center">&ndash;&gt;-->
<!--&lt;!&ndash;<img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->

<!--&lt;!&ndash;<app-test></app-test>&ndash;&gt;-->

<!--&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;ngClass&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->

<!--<p [ngClass] = "{a : true}">-->
  <!--lzosjvcsidnvs-->
<!--</p>-->

<!--&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;ngStyle&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->

<!--<p [ngStyle] = "{'color' : 'pink'}">-->
  <!--lzosjvcsidnvs-->
<!--</p>-->
<!--&lt;!&ndash;<p [align]="center">hi</p>&ndash;&gt;-->

<!--&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;customDirectives-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->

<!--<p appBold [Color]="color">-->
  <!--Hello Angular 6-->
<!--</p>-->

<!--<div>-->
  <!--<input type="radio" name="colors" (click)="colour='lightgreen'">Green-->
  <!--<input type="radio" name="colors" (click)="colour='yellow'">Yellow-->
  <!--<input type="radio" name="colors" (click)="colour='cyan'">Cyan-->
<!--</div>-->

<!--<p appBold [Color]="colour">-->
  <!--Angular 6-->
<!--</p>-->

<!--&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;trackBy&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->

<!--<div *ngFor="let lang of lang; trackBy: trackByElements">-->
  <!--({{lang.id}}) {{lang.name}}-->
<!--</div>-->

<!--&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;referenceVariables-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->

<!--<div [ngStyle]="{'margin':'10px'}">-->
  <!--<input #name placeholder="Name"/>-->
<!--</div>-->
<!--<h1>This is text</h1>-->
<!--<h2>This is another text</h2>-->
<!--<p>If you click this button you will see a value of input</p>-->
<!--<div>-->
  <!--<button (click)="name.value" [ngStyle]="{'margin':'10px'}">Click me!</button>-->
  <!--<p *ngIf="name.value">{{name.value}}</p>-->
  <!--<p *ngIf="!name.value">There is no value in the input</p>-->
<!--</div>-->

 <!-- -&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;Input and Output&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->
<!--<div></div>-->
<!--<app-experimental (childValue)="message = $event; display($event)"></app-experimental>-->
<!--<p>{{message}}</p>-->

<!--&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;template expressions operators&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->

<!--<p>-->
  <!--the title is {{title}}-->
<!--</p>-->
<!--<p>-->
  <!--the title is {{title1}}-->
<!--</p>-->
<!--<p>-->
  <!--the user2 name is {{user2.name}}-->
<!--</p>-->
<!--<p>-->
  <!--&lt;!&ndash;the user1 name is {{user1.name}}//will return an error&ndash;&gt;-->
  <!--the user1 name is {{user1?.name}}-->
<!--</p>-->

<!--&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->

<!--<p *ngIf="user1">-->
  <!--the user1's name is {{user1!.name}}-->
<!--</p>-->
<!--<p *ngIf="user2">-->
  <!--the user2's name is {{user2!.name}}-->
<!--</p>-->

<!--&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;User input-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->
<!--<div>-->
  <!--<p>Give me some key</p>-->
  <!--<input (keyup)="onKey($event)">-->
  <!--<p>{{key}}</p>-->
<!--</div>-->

<!--&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;RefVar-->

<!--<div>-->
  <!--<p>With reference variable</p>-->
  <!--<input #val (keyup)="val.value">-->
  <!--<p>{{val.value}}</p>-->
<!--</div>-->

<!--&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;EnterKeyFilter-->

<!--<p>-->
  <!--Type something and press Enter-->
<!--</p>-->
<!--<div>-->
  <!--<input #val2 (keyup.enter)="onEnter(val2.value)">-->
  <!--<p>{{val2.value}}</p>-->
<!--</div>-->
<!--<p>{{enterKey}}</p>-->
<!--&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;Blur-->

<!--<p>Type something and click outside </p>-->
<!--<div>-->
  <!--<input #val3 (keyup.enter)="onBlur(val3.value)"-->
         <!--(blur)="onBlur(val3.value)">-->
  <!--<p>{{blur}}</p>-->
<!--</div>-->

<!--&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;Little list-->

<!--<div>-->
  <!--<input #newItem-->
         <!--(keyup.enter)="addItem(newItem.value); newItem.value = ''"-->
         <!--(blur)="addItem(newItem.value); newItem.value = ''">-->
  <!--<button (click)="addItem(newItem.value)">ADD</button>-->
  <!--<ul>-->
    <!--<li *ngFor="let item of itemList">{{item}}</li>-->
  <!--</ul>-->
<!--</div>-->

 <!-- -&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;Attributive directives-->

<!--<p appFontFamily >kldjfghdfjhnoeshb</p>-->

<!--&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;Structure directives-->
<!--<div  *ngFor="let i of [1,2,3,4,5]">-->
<!--<div *appDelay>Hello i'm a text</div>-->
<!--<p>after 3 second you will see a text</p>-->
<!--</div>-->

 <!-- -&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;Pipes-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->

<!--<p>The hero's birthday is {{ birthday | date: 'fullDate' | uppercase }}</p>-->

<!--<p>the factorial of {{number}} equals {{number | factorial}}</p>-->

<!--<exam></exam>-->
<!--<table>-->
  <!--<tr>-->
    <!--<th>ID</th>-->
    <!--<th>Name</th>-->
  <!--</tr>-->
  <!--<tr *ngFor="let item of array">-->
    <!--<td>{{item.id}}</td>-->
    <!--<td>{{item.name}}</td>-->
  <!--</tr>-->
<!--</table>-->

<!--<app-experimental></app-experimental>-->

<h2>Parent</h2>
<app-child (button)="f()"></app-child>
